{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    任务-陪我管理系统
{% endblock %}
{% block left_content %}
    {% include 'pwadmin/config/left_tpl.html' with item='config-list' %}
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
        var url = '{% url 'pwadminAPI:config-list' %}';
        var csrfmiddlewaretoken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'pwadmin/config/list.min.js' %}"></script>
{% endblock %}