{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    任务-陪我管理系统
{% endblock %}
{% block left_content %}
    <ul class="list-group">
        <li href="javascript:void(0);" class="list-group-item">基础信息
            <div class="list-group">
                <a href="#" class="list-group-item active">注册用户</a>
                <a href="#" class="list-group-item list-group-item-action">用户动态</a>
            </div>
        </li>
        <a href="#" class="list-group-item">被举报用户</a>
    </ul>
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
        var url = '{% url 'pwadminAPI:accounts' %}';
    </script>
    <script src="{% static 'pwadmin/accounts/register_user.min.js' %}"></script>
{% endblock %}