{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    用户-陪我管理系统
{% endblock %}
{% block left_content %}
    {% include 'pwadmin/accounts/left_tpl.html' with item='account-reported' %}
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
{#    <script type="application/javascript">#}
{#        var url = '{% url 'pwadminAPI:accounts' %}';#}
{#    </script>#}
{#    <script src="{% static 'pwadmin/accounts/register_user.min.js' %}"></script>#}
{% endblock %}