{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    任务-陪我管理系统
{% endblock %}
{% block left_content %}
    {% include 'pwadmin/accounts/left_tpl.html' with item='reset_password'%}
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
        var url = '{% url 'pwadminAPI:account-password' %}';
    </script>
    <script src="{% static 'pwadmin/accounts/reset_password.min.js' %}"></script>
{% endblock %}
