
.pic {
    width: 60px;
    height: 60px;
    position: relative;
}

.total {
    color: deepskyblue;
    margin: 10px auto 0 70px;
    display: inline-block;
    font-size: 14px;
}

#data_table {
    font-size: 14px;
}

.amend {
    position: absolute;
    z-index: 9999;
    right: 20px;
    top: 200px;
    width: 200px;
    height: 200px;
}

.search_none {
    display: inline-block;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    float: left;
    margin-left: -1px;
    background-color: white;
    color: black;
}

.search_left {
    border-radius: 15px 0 0 15px;
}

.status_select {
    display: inline-block;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #4cae4c;
    margin-left: -1px;
    color: white;
    background-color: #5cb85c;
}

.status_none {
    display: inline-block;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    margin-left: -1px;
    color: black;
    background-color: white;
}