.search {
    background-color: #5cb85c;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 15px 0 0 15px;
    border: 1px solid #4cae4c;
    padding: 4px 15px;
    color: #fff;
}

.clear {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    border: 1px solid #ccc;
    padding: 4px 15px;
    color: black;
    margin-left: -7px;
}

.data_table th {
    width: 55px;
}

.data_table td {
    vertical-align: top;
    font-size: 14px;
}

.data_table th, td:first-child {
    width: 68px;
}

.data_table th, td:nth-child(2) {
    width: 68px;
}

.data_table th:nth-child(10) {
    width: 106px;
}

.data_table th, td:nth-child(11) {
    width: 106px;
}

.data_table th, td:nth-child(12) {
    width: 80px;
}