.list-group li:nth-child(4) { background-color: #02a1c9;}
.list-group li:nth-child(4) a { color: #fff;}
.right_content { width: 1000px;}
.inline { display: inline-block;}
.search_top { display: inline-block; height: 34px; padding: 6px 12px; font-size: 14px;
    line-height: 1.42857143; color: #555; background-color: #fff;
    border: 1px solid #ccc; border-radius: 4px; margin-right: 10px;}
.search_right { float: right;}
.search_day { margin-right: 0;}
.search_status { margin-top: 10px; float: right; }
.front {  border-radius: 15px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.status_select { border-color: #4cae4c; color: #fff; background-color: #5cb85c;
    display: inline-block; padding: 4px 15px; margin-bottom: 3px; font-size: 14px;
    font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap;
    vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none; border: 1px solid transparent;
    margin: 0; float: left; margin-left: -1px;}
.status_none { display: inline-block; padding: 4px 15px; margin-bottom: 3px; font-size: 14px;
    font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap;
    vertical-align: middle; cursor: pointer; -webkit-user-select: none;
    -moz-user-select: none; -ms-user-select: none; user-select: none; color: #333; background-color: #fff;
    background-image: none; border: 1px solid transparent;  border-color: #ccc; margin: 0; float: left; margin-left: -1px;}
.select { }
.no { }
.control_switch { width: 1000px; height: 10px; padding-right: 10px; margin-top: 70px;}
.checkall { float: right;}
#data_table { width: 1000px; border-bottom:1px #ddd solid; height: 50px;
    font-size: 14px; margin-bottom: 20px;}
#data_table tr { height: 57px; text-align: center; border-bottom:1px #ddd solid;}
#data_table th { font-weight: bold; border-bottom:1px #ddd solid; text-align: center;}
#data_table td { text-align: center; overflow:hidden; word-break: break-all;
    vertical-align: middle; display: table-cell;}
.data_id { width: 95px;}
.data_nick { width: 240px;}
.data_pics { width: 195px;}
.data_copywriting { width: 195px;}
.data_date { width: 195px;}
.data_select { }
.pic { width: 60px; height: 60px;}
.pics { width: 170px; max-width: 170px;}
.amend_pic { left: 33%;}