.search { margin-top: 20px;}
.peiwo_id { width: 400px; font-size: 14px;}
.td_uid { width: 100px;}
.td_name { width: 800px;}
.td_del { width: 100px;}
.button_add { padding: 6px 18px; color: black; font-size: 14px; display: inline-block;
    border-radius: 15px; background-color: #fff; font-weight: 400; cursor: pointer;
    border-bottom-left-radius: 0; border-top-left-radius: 0; border: 1px solid #ccc;
    margin-left: -6px;}

.button_del {
    padding: 4px 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: black;
    font-size: inherit;
}

.data_tab {
    width: 1020px;
    font-size: 14px;
    margin-bottom: 20px;
}

.data_tab tr {
    border-bottom: 1px #ddd solid;
    height: 50px;
}

.data_tab th {
    border-bottom: 1px #ddd solid;
    height: 50px;
    font-weight: bold;
}