.search {
    margin-top: 20px;
    background-color: white;
    border: 0;
}

.peiwo_id {
    width: 400px;
    font-size: 14px;
}

.td_uid {
    width: 100px;
}

.td_name {
    width: 800px;
}

.td_del {
    width: 100px;
}

.button_add {
    padding: 6px 18px;
    color: black;
    font-size: 14px;
    display: inline-block;
    background-color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #ccc;
    margin-left: -18px;
}

.search_front {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.button_del {
    padding: 4px 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: black;
    font-size: inherit;
}

#data_table th {
    height: 40px;
}

#data_table td {
    height: 50px;
}