{% extends 'pwadmin/groups/group_base.html' %}
{% load static %}

{% block extends_head %}
    <link rel="stylesheet" href="{% static 'css/group_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover_verify.css' %}">
{% endblock %}

{% block right_content %}
    <div class="amend_pic">
        <img src="#" alt="" class="pic_big">
    </div>
    <div class="right_content">
        <div class="data_search">
            <input type="text" placeholder="请输入主播陪我号" class="tuid in">
            <input type="text" placeholder="开始时间" class="begin_time in">
            <input type="text" placeholder="结束时间" class="end_time in">
            <div class="search_right in">
                <button class="search in" onclick="flashData()">搜索</button>
                <button class="clear in">清空</button>
            </div>
        </div>
        <table class="data_table">
            <tr>
                <th>主播陪我号</th>
                <th>昵称</th>
                <th>封面图</th>
                <th>申请时间</th>
                <th>操作</th>
            </tr>
            <tbody>
                {% for i in data.data.list %}
                <tr>
                    <td>{{ i.uid }}</td>
                    <td>{{ i.name }}</td>
                    <td><img src="{{ i.cover_url }}" class="cover_pic" alt="图片未找到"></td>
                    <td>{{ i.create_time }}</td>
                    <td>
                        <button class="operate" onclick="deal(1, {{ i.id }}, {{ i.uid }})">通过</button>
                        <button class="operate" onclick="deal(0, {{ i.id }}, {{ i.uid }})">拒绝</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extends_script %}
    <script type="application/javascript">
        var csrfmiddlewaretoken='{{ csrf_token }}';
        var userId = '{{ uid }}';
    </script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/group_base.js' %}"></script>
    <script src="{% static 'js/cover_verify.js' %}"></script>
{% endblock %}