{% extends 'pwadmin/groups/group_base.html' %}
{% load static %}

{% block extends_head %}
    <link rel="stylesheet" href="{% static 'css/group_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/group_manage.css' %}">
{% endblock %}

{% block right_content %}
    <div class="right_content">
        <div class="data_search">
            <input type="text" placeholder="请输入群组名" class="in">
            <input type="text" placeholder="请输入群组陪我号" class="in">
            <input type="text" placeholder="请输入群组id" class="in">
            招新：
            <select name="new" id="new" class="in">
                <option value="-1">全部</option>
                <option value="1">开启</option>
                <option value="0">关闭</option>
            </select>
            <div class="search_right in">
                <button class="search in">搜索</button>
                <button class="clear in">清空</button>
            </div>
        </div>
        <table class="data_table">
            <tr>
                <th>群组名</th>
                <th>群头像</th>
                <th>群主头像</th>
                <th>群主陪我号</th>
                <th>当前声望/总声望</th>
                <th>成员数/游客数</th>
                <th>门票</th>
                <th>招新</th>
                <th>操作</th>
            </tr>
        </table>
    </div>
{% endblock %}

{% block extends_script %}
    <script src="{% static 'js/group_base.js' %}"></script>
    <script src="{% static 'js/group_manage.js' %}"></script>
{% endblock %}