<ul class="list-group">
    <a href="{% url 'pwadmin:groups' %}" class="list-group-item {% if item == 'groups' %}active{% else %}list-group-item-action{% endif %}">开放群组</a>
    <li href="javascript:void(0);" class="list-group-item">直播
        <div class="list-group">
            <a href="{% url 'pwadmin:groups-live' %}" class="list-group-item {% if item == 'groups-live' %}active{% else %}list-group-item-action{% endif %}">在线房间</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">屏蔽房间</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">查看房间</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">特殊声优房间</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">封面审核</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">直播效率</a>
        </div>
    </li>
    <li href="javascript:void(0);" class="list-group-item">直播数据查询
        <div class="list-group">
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">直播实时数据</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">直播礼物数据</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">直播剧本数据</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">直播收入统计</a>
        </div>
    </li>
    <a href="{% url 'pwadmin:fund-wait-audit' %}" class="list-group-item {% if item == 'fund-wait-audit' %}active{% else %}list-group-item-action{% endif %}">配置房间内全服榜单</a>

    <li href="javascript:void(0);" class="list-group-item">公会管理
        <div class="list-group">
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">查看公会信息</a>
            <a href="{% url 'pwadmin:accounts' %}" class="list-group-item {% if item == 'register' %}active{% else %}list-group-item-action{% endif %}">查看公会成员信息</a>
        </div>
    </li>




</ul>