{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    群组-陪我管理系统
{% endblock %}
{% block left_content %}
    {% include 'pwadmin/groups/left_tpl.html' with item='groups-live' %}
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
        var url = '{% url 'pwadminAPI:groups-live' %}';
        var csrfmiddlewaretoken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'pwadmin/groups/live-index.min.js' %}"></script>
{% endblock %}