{% extends 'pwadmin/basis.html' %}
{% load static %}

{% block style_extends %}
    <link type="text/css" href="{% static 'css/content_base.css' %}" rel="stylesheet"/>
    {% block head_extends %}{% endblock %}
{% endblock %}

{% block left_content %}
    <li><a href="{% url 'pwadmin:label_manage' %}" class="list-group-item">标签管理</a></li>
    <li><a href="{% url 'pwadmin:label_dynamic' %}" class="list-group-item">标签动态</a></li>
    <li><a href="{% url 'pwadmin:submit_dynamic' %}" class="list-group-item">投稿动态</a></li>
    <li><a href="{% url 'pwadmin:report_dynamic' %}" class="list-group-item">被举报动态</a></li>
    <li><a href="{% url 'pwadmin:white_list' %}" class="list-group-item">动态白名单</a></li>
{% endblock %}

{% block method_extends %}
    <script type="text/javascript" src="{% static 'js/content_base.js' %}"></script>
    {% block script_extends %}{% endblock %}
{% endblock %}
