{% extends 'pwadmin/contents/content_base.html' %}
{% load static %}
{% block title %}
    陪我管理系统-内容
{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/label_manage.css' %}" type="text/css"/>
{% endblock %}

{% block content_extra %}
    <div class="amend">
        <div class="modify_data">
            <div class="space_front size">
                <span class="space_title">标签修改</span>
                <span class="space_out">×</span>
            </div>
            <hr/>
            <div class="space_mid size">
                <div class="space_content">
                    <span class="label_content">内容</span>
                    <textarea rows="4" cols="60" placeholder="请输入标签" class="sign_content to_left"></textarea>
                </div>
                <div class="space_content">
                    <span class="label_content">说明</span>
                    <textarea rows="4" cols="60" placeholder="请输入标签" class="sign_title to_left"></textarea>
                </div>
            </div>
            <hr/>
            <div class="space_sure">
                {% csrf_token %}
                <button type="button" class="operate sure">确定</button>
                <button type="button" class="operate_cancel space_out cancel">关闭</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_search %}
    <div class="searchTop">
        <h3>
            标题
            <input type="text" class="right_sign" id="right_sign" placeholder="标签不限字数，尽量控制在14字">
            <span class="span_add extend">添加</span>
            <span class="span_clear extend">清空</span>
        </h3>
    </div>
    <textarea class="form-control" id="msgcontent" name="msgcontent" style="padding:30px; margin-bottom: 10px;" rows="3"
              placeholder="输入说明 例子：此标签由XXX创建"></textarea>
{% endblock %}
{% block script_extends %}
    <script src="{% static 'js/label_manage.js' %}"></script>
{% endblock %}
