{% extends 'pwadmin/contents/content_base.html' %}
{% load static %}
{% block title %}
    陪我管理系统-内容
{% endblock %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/report_dynamic.css' %}" type="text/css"/>
{% endblock %}

{% block content_extra %}
    <div class="amend_pic">
        <img src="#" alt="" class="pic_big">
    </div>
{% endblock %}

{% block data_search %}
    <div class="inline">
        <input type="text" placeholder="请输入陪我号" class="search_top peiwo_id">
        <input type="text" placeholder="开始时间" class="search_top start">
        <input type="text" placeholder="结束时间" class="search_top end">
    </div>
    <div class="inline search_right">
        <div class="search_day">
            <button type="button" class="operate search_days" data-action="-1">查询</button>
            <button type="button" class="operate_white search_days" data-action="0">今天</button>
            <button type="button" class="operate_white search_days" data-action="6">7天</button>
            <button type="button" class="operate_white search_days" data-action="29">30天</button>
            <button type="button" class="operate_white search_days" data-action="-2">清空</button>
        </div>
    </div>
    <div class="search_status">
        <button class="status_select front mode" data-state="0">未处理</button>
        <button class="status_none mode" data-state="1">已忽略</button>
        <button class="status_none mode" data-state="2">已警告</button>
        <button class="status_none mode" data-state="3">已封禁</button>
    </div>
    <div class="control_switch">
        <input type="checkbox" class="checkall">
    </div>
{% endblock %}

{% block after_table %}
    <div class="deal">
        <button type="button" class="operate alert option" data-option="3" onclick="deal(3)">警告</button>
        <button type="button" class="operate ban option" data-option="2" onclick="deal(2)">封禁</button>
        <button type="button" class="operate ignore option" data-option="1" onclick="deal(1)">忽略</button>
    </div>
    <div class="comment">
        <button type="button" class="msg" onclick="send_message(5)">广告</button>
        <button type="button" class="msg" onclick="send_message(7)">欺诈</button>
        <button type="button" class="msg" onclick="send_message(6)">侵权</button>
        <button type="button" class="msg" onclick="send_message(4)">色情</button>
        <button type="button" class="msg" onclick="send_message(1)">导流</button>
        <button type="button" class="msg" onclick="send_message(3)">恶意刷屏</button>
        <button type="button" class="msg" onclick="send_message(2)">诋毁辱骂</button>
    </div>
{% endblock %}

{% block script_extends %}
    <script src="{% static 'js/report_dynamic.js' %}"></script>
{% endblock %}