{% extends 'pwadmin/contents/content_base.html' %}
{% load static %}
{% block title %}
    陪我管理系统-内容
{% endblock %}

{% block extends_head %}
<link rel="stylesheet" href="{% static 'css/whiteList.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/content_base.css' %}" type="text/css" />
{% endblock %}

{% block right_content %}
    <div class="search">
        <input type="number" placeholder="请输入陪我号" class="peiwo_id input">
        <button type="button" class="button_add">添加</button>
    </div>
    <table class="data_tab">
        <tr>
            <th class="text_center">陪我号</th>
            <th class="text_center">昵称</th>
            <th class="text_center">操作</th>
        </tr>
        {% for i in data.data %}
            <tr>
                <td class="td_uid text_center">{{ i.uid }}</td>
                <td class="td_name text_center">{{ i.name }}</td>
                <td class="td_del text_center">
                    <button type="button" class="button_del" onclick="edit({{ i.uid }})">删除</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
      var csrfmiddlewaretoken='{{ csrf_token }}'
    </script>
    <script src="{% static 'js/content_base.js' %}"></script>
    <script src="{% static 'js/whiteList.js' %}"></script>
{% endblock %}