{% extends 'pwadmin/pwbase.html' %}
{% load static %}

{% block extends_head %}
    <link rel="stylesheet" href="{% static 'css/basis.css' %}"/>
    {% block style_extends %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'pwadmin:home' %}">陪我管理系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:logout' %}">退出</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:task' %}">任务<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:accounts' %}">用户</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">认证</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:label_manage' %}">内容</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:group_manage' %}">群组</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:fund-wait-audit' %}">提现</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">充值</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">日志</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">客服</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:statistic' %}">统计</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">实时数据</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:config-list' %}">配置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pwadmin:perm_menu' %}">权限</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">渠道统计</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="left_menu">
                <ul id="list-group" class="list-group">
                    {% block left_content %}{% endblock %}
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="right_content">
                {% block content_extra %}{% endblock %}
                <div class="data_search">
                    {% block data_search %}{% endblock %}
                </div>
                <span class="total"></span>
                <table id="data_table" class="data_table">
                    <tbody></tbody>
                </table>
                <div class="modalPage"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extends_script %}
    <script src="{% static 'js/basis.js' %}"></script>
    {% block method_extends %}{% endblock %}
{% endblock %}