{% extends 'base.html' %}
{% load static %}

{% block title %}
    登陆
{% endblock %}

{% block content %}
    <div class="container">
        <div id="signin"></div>
    </div>

{% endblock %}

{% block extends_script %}
    <script src="{% static 'pwadmin/sign-in.min.js' %}"></script>
    <script type="application/javascript">
        const React = signin.React;
        const ReactDOM = signin.ReactDOM;
        const SignIn = signin.SignIn;
        ReactDOM.render(
            React.createElement(
                SignIn,
                {
                    csrf_token: `{{ csrf_token }}`,
                    sign_in_url: `{% url 'pwadminAPI:sign-in' %}`,
                    next: `{{ next }}`
                },
                null
            ),
            document.getElementById('signin')
        )
    </script>
{% endblock %}