{% extends 'pwadmin/pwbase.html' %}
{% load static %}
{% block title %}
    提现-陪我管理系统
{% endblock %}
{% block left_content %}
    {% include 'pwadmin/fund/left_tpl.html' with item='fund-wait-audit' %}
{% endblock %}

{% block right_content %}
    <div id="root">
    </div>
{% endblock %}
{% block extends_script %}
    <script type="application/javascript">
        var url = '{% url 'pwadminAPI:fund-wait-audit' %}';
        var csrfmiddlewaretoken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'pwadmin/fund/list.min.js' %}"></script>
{% endblock %}