{% extends 'pwadmin/pwbase.html' %}
{% block title %}
    统计-陪我管理系统
{% endblock %}
{% block left_content %}
    <ul class="list-group">
        <li class="list-group-item">
            统计日报
            <ul class="list-group">
                <li class="list-group-item">直播</li>
                <li class="list-group-item">货币</li>
                <li class="list-group-item">金融</li>
                <li class="list-group-item">平台</li>
            </ul>
        </li>
        <li class="list-group-item">已处理</li>

    </ul>
{% endblock %}

{% block right_content %}
{% endblock %}