{% extends 'pwadmin/permissions/base.html' %}
{% load static %}
{% block title %}
    权限-陪我管理系统
{% endblock %}

{% block right_content %}
    <div id="menu-tree">
    </div>
{% endblock %}
{% block extends_script %}
    <script src="{% static 'pwadmin/permissions/menu-tree.min.js' %}"></script>
    <script type="application/javascript">
        const React = menutree.React;
        const ReactDOM = menutree.ReactDOM;
        const Tree = menutree.Tree;
        ReactDOM.render(
            React.createElement(
                Tree,
                {
                    tree: JSON.parse(`{{ tree|safe }}`)
                },
                null
            ),
            document.getElementById('menu-tree')
        )
    </script>

{% endblock %}